body {
    margin:0;
    height: 940px;
    width: 970;
}
/* first section */
.first-container{
    display: flex;
    background-color: #1F2937;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
}
.header-container {
    display:flex;
    background-color: #1F2937;
    align-content:center;
    gap: 20px;
    justify-content: center;
}
.signup {
    display: flex;
    color:#F9FAF8;
    padding: 0px 0px 20px;
    width: 400px;
    flex-direction: column;
    align-items: flex-start;
}
/* end of first section */

/* start of second section */
.mid-container{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    margin-top:30px;
}
.header{
    font-size: 32px;
    font-weight:800px;
}
.mid-container2{
    display: flex;
    gap: 70px;
    margin-top:50px;
    margin-bottom: 50px;
}
.info{
    width: 130px;
    height:auto;
}
.placeholder{
    border-radius:25px;
    border-style: solid;
    padding: 60px;
    border-color:#3882F6;
}
.subtext{
    text-align: center;
    padding-top:5px;
}
/* end of second section */

/* start of third section */
.mid-container3{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    background-color: #E5E7EB;
    padding-top: 70px;
    padding-bottom: 70px;
    align-items: flex-end;
}
.quote{
    display:flex;
    text-align: left;
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    width: 600px;
    color:#1F2937;
}
.author{
    font-weight: 800;
}
img {
    width: 400px;
    height:auto;
}
ul{
    display: flex;
    list-style: none;
    padding-right: 10px;
    gap: 10px;
}
a{
    text-decoration: none;
    color:#E5E7EB;
}
h1 {
    color: #F9FAF8;
    font-size: 24px;
    padding:0px 0px 0px 10px;
    margin:0;
}
h2 {
    font-size: 48px;
    font-weight:bold;
    margin:0px;
}
.text{
    display: flex;
    font-size: 18px;
}
button {
    display: flex;
    background-color: #3882F6;
    width: 70px;
    height:auto;
    justify-content: center;
    color:#F9FAF8;
}